#ordering-provider-list {
  .usa-form-group {
    margin: 0;
  }

  .usa-checkbox__label {
    margin-top: 0;
  }

  .provider-row {
    padding: 16px 0;
  }

  .sr-provider-edit-link {
    text-decoration: none;
    font-weight: 600;
  }
}
