/node_modules
/build
/src/styles/*
/.env.local
/.env.*.local
.eslintcache
yarn-error.log
coverage
geckodriver.log
chromedriver.log
tests_output/
storybook-static
build-storybook.log
/storybook_public
