.sr-test-results-list {
  .sr-more-test-results {
    display: flex;
    justify-content: center;
    margin: 1em 0;
  }

  .sr-test-result-row th,
  .sr-test-result-row td {
    /* override USWDS force-white */
    background: inherit;
  }

  .sr-test-result-row:hover {
    background: #f4f4f4;
  }

  .sr-test-result-row--removed {
    text-decoration: line-through;
  }

  .rc-menu-button {
    background: inherit;
    padding: 0;
    border: 0;
  }
}
