@import "../../scss/settings/app-settings.scss";

.sr-test-results-list {
  .sr-more-test-results {
    display: flex;
    justify-content: center;
    margin: 1em 0;
  }

  .sr-test-result-row th,
  .sr-test-result-row td {
    /* override USWDS force-white */
    background: inherit;
  }

  .sr-test-result-row:hover {
    background: $theme-color-base-lightest;
  }

  .sr-test-result-row--removed {
    text-decoration: line-through;
  }
}

.sr-showing-results-on-page {
  margin-left: 2rem;
  color: #555;
  font-size: 50%;
  vertical-align: middle;
  font-weight: normal;
}
