@import "../../scss/settings/app-settings.scss";

.sr-test-results-list {
  .sr-more-test-results {
    display: flex;
    justify-content: center;
    margin: 1em 0;
  }

  .sr-test-result-row th,
  .sr-test-result-row td {
    /* override USWDS force-white */
    background: inherit;
  }

  .sr-test-result-row:hover {
    background: $theme-color-base-lightest;
  }

  .sr-test-result-row--removed {
    text-decoration: line-through;
  }

  .usa-form-group {
    margin-top: 0;
  }

  .prime-search-container {
    margin-bottom: 0;

    .prime-search-input {
      margin-bottom: 0;

      .usa-input {
        margin-top: 0.5rem;
        margin-bottom: 0;
        height: 2.5rem;
      }

      .usa-button {
        margin-top: 0.5rem;
        height: 2.5rem;
      }
    }
  }

  .results-dropdown {
    position: relative;
    top: 0;
  }
}

.sr-showing-results-on-page {
  margin-left: 2rem;
  color: #555;
  font-size: 50%;
  vertical-align: middle;
  font-weight: normal;
}
