.vscode
.DS_Store
.idea/
*.iml
*.tfvars
node_modules
*.swp
*.swo
*.orig
*.rej
/.env
/.env.local
certs/
yarn-error.log
backend/locust/__pycache__/
cypress/cypress.env.json
frontend/src/.env.local
.run/Backend.run.xml
.run/Frontend.run.xml
.tool-versions