services:
  cypress:
    build:
      context: ./
      dockerfile: cypress/Dockerfile
    image: ghcr.io/cdcgov/prime-simplereport/cypress:${DOCKER_CYPRESS_IMAGE_VERSION:-latest}
    container_name: cypress
    shm_size: "1gb"
    restart: "no"
    environment:
      CYPRESS_OKTA_USERNAME: $CYPRESS_OKTA_USERNAME
      CYPRESS_OKTA_PASSWORD: $CYPRESS_OKTA_PASSWORD
      CYPRESS_OKTA_SECRET: $CYPRESS_OKTA_SECRET
      CYPRESS_OKTA_CLIENT_ID: $CYPRESS_OKTA_CLIENT_ID
      CYPRESS_OKTA_REDIRECT_URI: $CYPRESS_OKTA_REDIRECT_URI
      CYPRESS_OKTA_SCOPE: $CYPRESS_OKTA_SCOPE
      CYPRESS_BACKEND_URL: $CYPRESS_BACKEND_URL
      CYPRESS_RECORD_KEY: $CYPRESS_RECORD_KEY
      SPEC_PATH: $SPEC_PATH
      TEST_ENV: $TEST_ENV
    depends_on:
      - backend
      - frontend
      - wiremock
      - nginx
    volumes:
      - ./cypress/screenshots/:/app/cypress/screenshots/
      - ./cypress/videos/:/app/cypress/videos/
      - ./.git/:/app/.git/
    command:
      ["-s", "$SPEC_PATH", "-r", "$TEST_ENV", "$CYPRESS_RECORD_KEY"]
  backend:
    environment:
      SPRING_PROFILES_ACTIVE: $SPRING_PROFILES_ACTIVE
      OKTA_TESTING_DISABLEHTTPSCHECK: $OKTA_TESTING_DISABLEHTTPSCHECK
      OKTA_API_KEY: $OKTA_API_KEY
      OKTA_OAUTH2_CLIENT_ID: $OKTA_OAUTH2_CLIENT_ID
      SMARTY_AUTH_ID: $SMARTY_AUTH_ID
      SMARTY_AUTH_TOKEN: $SMARTY_AUTH_TOKEN
      WIREMOCK_URL: $WIREMOCK_URL
      SPRING_LIQUIBASE_ENABLED: "true"
      GIT_DISCOVERY_ACROSS_FILESYSTEM: 1
    depends_on:
      - db
      - wiremock
  mailhog:
    profiles:
      - donotstart
  db:
    command: -p ${SR_DB_PORT:-5432} -c shared_buffers=512MB -c max_connections=500
  wiremock:
    image: wiremock/wiremock:2.32.0-alpine
    volumes:
      - ./wiremock/stubs/:/home/wiremock
    container_name: wiremock
    restart: "unless-stopped"
    command: --local-response-templating --port=8088
    expose:
      - "8088"