@use "../../../scss/settings" as settings;

.list-style-none {
  list-style: none;
}

.card-close-button {
  color: settings.$theme-color-prime-gray-darkest !important;
}

.close-button-col {
  position: relative;
  bottom: 0.5rem;
  left: 0.25rem;
}

.timer-col {
  position: relative;
  right: 1rem;
}

.test-card-header-bottom-border {
  border-bottom: 2px solid #dfe1e2;
}

.test-card-container {
  max-width: 64rem;
}

.usa-card__container {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
