html,
body,
#root,
.App,
._loading_overlay_wrapper {
  height: 100%;
  margin: 0;
  padding: 0; }

#main-wrapper,
.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

main {
  flex: 1; }
