@use "./app-layout" as layout;
@use "./prime-styles" as prime;
@use "./utilities" as utilities;

.sr-legacy-application {
  @include layout.legacy-app-layout;
  @include prime.legacy-prime-styles;
  @include utilities.legacy-utilities;
}
