.facility-form {
  table,
  th,
  td {
    border-top: none !important;
    border-bottom: 1px solid #dfe1e2 !important;
    line-height: 1;
  }

  td:first-child {
    width: 10rem;
    padding-left: 0;
  }
}
