.form-section {
  table {
    margin-bottom: 0;
  }

  table,
  th,
  td {
    border-top: none !important;
    border-bottom: 1px solid #dfe1e2 !important;
    line-height: 1;
  }

  td:first-child {
    width: 10rem;
    padding-left: 0;
  }

  h2 {
    margin-top: 0;
  }
}

// mobile formatting
@media (max-width: 768px) {
  .grid-row {
    flex-direction: column; /* stack columns in each row for mobile */
  }

  .grid-col-mobile {
    width: 100% !important;
  }
}
