#analytics-page {
  .card-container {
    h3 {
      margin-bottom: 0;
      margin-top: 2rem;
    }

    p {
      margin-top: 5px;
    }

    .red-pointing-up {
      color: red;
    }

    .green-pointing-down {
      color: green;
    }
  }

  .inline-datepicker {
    .usa-form-group {
      display: flex;
    }

    label {
      margin-top: 7px;
      margin-right: 7px;
    }

    .usa-date-picker {
      .usa-date-picker__external-input,
      .usa-date-picker__button {
        margin-top: 0;
      }
    }

    .usa-date-picker__calendar {
      width: 300px;
    }
  }

  .card {
    aspect-ratio: 1 / 1;
    height: 100%;
    text-align: center;

    h1 {
      font-size: 70px;
      margin: auto;
    }

    h2 {
      height: 46px;
      font-weight: 400;
      margin: 0;
    }

    p {
      height: 46px;
      font-size: 20px;
      margin: 0;
    }
  }
}
