@use "@uswds/uswds/packages/uswds-core" as *;
@use "uswds-tokens" as *;

$site-max-width: 1200px;

// Semantic Color Tokens
$text-primary: black;
$text-secondary: $gray-40;
$text-inactive: $gray-20;
$text-inactive-dark: $gray-60;

$brand-primary: $blue-cool-50; // branded text color
$brand-light: $blue-cool-20;
$brand-lighter: $blue-cool-10; // tertiary link text color
$brand-lightest: $blue-cool-5; // secondary button background
$brand-dark: $blue-cool-70;
$brand-darker: $blue-cool-80;

$accent-primary: $violet-warm-60; // primary CTA / info color
$accent-dark: $violet-warm-70; // CTA hover
$accent-darker: $violet-warm-80; // CTA active

$destructive-primary: $red-warm-50v; // primary error / info color
$destructive-dark: #b51d09; // error hover
$destructive-darker: $red-70; // error active

$background: $gray-cool-1;
$background-dark: $gray-4;
$background-darker: $gray-5;
$background-darkest: $gray-40;

$border: $gray-cool-10;
$border-light: $gray-5;
$border-dark: $gray-40;

$hover-neutral: $gray-4;
$drop-shadow: $gray-4;
$focus-outline: $blue-40v;
$overlay-background: rgba(0, 0, 0, 0.5);

// Legacy PRIME color variables (for backward compatibility) if you remove these things will start to break
$theme-color-prime-blue-lightest: $blue-cool-5;
$theme-color-prime-blue-light: $blue-cool-20;
$theme-color-prime-blue: $brand-primary;
$theme-color-prime-blue-dark: $brand-dark;
$theme-color-prime-blue-darkest: $brand-darker;

$theme-color-prime-blue-cool-light: $blue-cool-20;
$theme-color-prime-blue-cool-dark: $blue-cool-70;

$theme-color-prime-red-lightest: $red-5;
$theme-color-prime-red-light: $red-30;
$theme-color-prime-red: $destructive-primary;
$theme-color-prime-red-dark: $destructive-dark;

$theme-color-prime-green-lightest: $green-cool-5;
$theme-color-prime-green-light: $green-cool-20v;
$theme-color-prime-green: $green-cool-40v;
$theme-color-prime-green-dark: $green-cool-50;

$theme-color-prime-gray-light: $gray-10;
$theme-color-prime-gray: $gray-30;
$theme-color-prime-gray-dark: $gray-60;
$theme-color-prime-gray-darkest: $gray-70;
