// Override USWDS setting variables to create custom theme
// https://designsystem.digital.gov/documentation/settings/
// Adapted from https://github.com/CDCgov/dibbs-design-system/blob/main/sass/_uswds-theme.scss

@forward "@uswds/uswds/packages/uswds-core" with (
  // General
  $theme-show-compile-warnings: false,
  $theme-show-notifications: false,
  $theme-image-path: "../../../../../../dist/img",

  // Component
  $theme-step-indicator-min-width: "mobile",
  $theme-hero-image: "../../../../dist/img/hero.jpg",
  $theme-accordion-button-background-color: "blue-cool-60",

  // Color
  $theme-link-color: "blue-cool-50",
  $theme-link-hover-color: "blue-cool-70",
  $theme-link-active-color: "blue-cool-80",

  $theme-color-primary: "blue-cool-60",
  $theme-color-primary-light: "blue-cool-20",
  $theme-color-primary-lighter: "blue-cool-10",
  $theme-color-primary-lightest: "blue-cool-5",
  $theme-color-primary-dark: "blue-cool-70",
  $theme-color-primary-darker: "blue-cool-80",

  $theme-color-secondary: "violet-warm-60",
  $theme-color-secondary-light: #bf9dc3,
  $theme-color-secondary-lighter: #dccfdd,
  $theme-color-secondary-lightest: "violet-warm-5",
  $theme-color-secondary-dark: "violet-warm-70",
  $theme-color-secondary-darker: "violet-warm-80",

  $theme-color-success: "green-cool-40v",
  $theme-color-success-light: "green-cool-20v",
  $theme-color-success-lighter: "green-cool-5v",
  $theme-color-success-dark: "green-cool-60v",
  $theme-color-success-darker: "green-cool-80v",

  $theme-color-error: "red-40v",
  $theme-color-error-light: "red-20v",
  $theme-color-error-lighter: "red-5v",
  $theme-color-error-dark: "red-60v",
  $theme-color-error-darker: "red-80v",

  $theme-color-info: "blue-40v",
  $theme-color-info-light: "blue-20v",
  $theme-color-info-lighter: "blue-5v",
  $theme-color-info-dark: "blue-60v",
  $theme-color-info-darker: "blue-80v",

  $theme-color-warning: "yellow-30v",
  $theme-color-warning-light: "yellow-10v",
  $theme-color-warning-lighter: "yellow-5v",
  $theme-color-warning-dark: "yellow-50v",
  $theme-color-warning-darker: "yellow-70v",

  $theme-color-disabled: "gray-cool-60",
  $theme-color-disabled-light: "gray-cool-10",
  $theme-color-disabled-lighter: "gray-cool-10",
  $theme-color-disabled-dark: "gray-cool-60",

  // Typography
  $theme-font-path: "../../../../../../dist/fonts",
  $theme-font-type-cond: false,
  $theme-font-type-icon: false,
  $theme-font-type-lang: false,
  $theme-font-type-mono: "roboto-mono",
  $theme-font-type-sans: "public-sans",
  $theme-font-type-serif: "merriweather",

  $theme-font-role-ui: "sans",
  $theme-font-role-heading: "serif",
  $theme-font-role-body: "sans",
  $theme-font-role-code: "mono",
  $theme-font-role-alt: "serif",

  $theme-global-link-styles: true,
  $theme-font-weight-semibold: 600,

  // Utilities
  $utilities-use-important: true
);
