.users-sidenav {
  border-right: 1px solid #dfe1e2; // color("text-base-lighter");
}

.users-sidenav-item:hover {
  cursor: pointer;
}

.user-header {
  border-bottom: 1px solid #dfe1e2;
  padding: 0 0.5em;
}

.user-content {
  padding: 0 0.5em;
}

.reset-button {
  display: block;
  margin: 1em auto;
}

.usa-current {
  .sidenav-user-name,
  .sidenav-user-email {
    color: #005ea2;
  }
}

.sidenav-user-name {
  color: #171717; // color($theme-color-prime-gray-light)
}

.sidenav-user-email {
  font-weight: normal;
  font-size: 0.8em;
}

.sidenav-user-status {
  font-weight: normal;
  font-size: 0.8em;
  font-style: italic;
}

.suspended-icon {
  width: 0.7em !important;
}

.top-user-status {
  font-style: italic;
  color: #71767a; // color($text-base)
}

.facility-list {
  td {
    border: 1px solid #dfe1e2;
  }
}

.user-facilities td:nth-child(2) {
  text-align: right;
}

.remove-tag {
  cursor: pointer;
}

.close-button {
  display: block;
  border: none;
  background: transparent;
  cursor: pointer;
}

.modal-bottom-border {
  border-bottom: 1px solid #f4f4f4;
}

.remove-tag--disabled {
  cursor: not-allowed;
  filter: grayscale(1);
  opacity: 0.5;
}
