html,
body,
#root,
.App,
._loading_overlay_wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

#main-wrapper,
.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1;
}

.usa-breadcrumb {
  background: inherit;
  margin: 1em;
}

.prime-radios > .usa-legend:not(.usa-sr-only),
.prime-checkboxes > .usa-legend:not(.usa-sr-only) {
  font-weight: bold;
  position: relative;
  top: 1em;
  margin: 1em 0;
}

.prime-edit-patient-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}
.prime-save-patient-changes {
  padding: 1em;
}
.prime-form-line {
  display: flex;
  flex-flow: row wrap;

  > * {
    margin-right: 2em;
  }
}

.prime-radios
  .usa-form-group:not(.prime-radio--horizontal__container)
  .usa-radio {
  margin-top: 1em;
}

.prime-checkboxes .usa-form-group .usa-checkbox {
  margin-top: 0.75em;
}

.usa-form-group {
  &.sr-width-sm {
    width: 8em;
  }
  &.sr-width-md {
    width: 10em;
  }
  &.sr-width-lg {
    width: 20em;
  }
  &.sr-width-xl {
    width: 40em;
  }
}
