// Header styles
$text-color: #fff;

.prime-nav {
  background-color: color($theme-color-primary-darker);
  color: $text-color;
  font-family: Public Sans Web, Source Sans Pro Web, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;

  &__body {
    padding: 1.5rem 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .usa-header--basic &__bar {
    @include at-media("tablet") {
      flex-grow: 1;
    }
  }

  &__bar {
    border-bottom: none;
  }

  &__title {
    @include u-font-size("body", "lg");
  }

  @media screen and (max-width: 425px) and (min-width: 321px) {
    &__title {
      margin: 0 1rem;
    }
  }

  @media screen and (max-width: 425px) {
    &__bar {
      width: 100%;
      text-align: center;
    }

    &__user {
      margin-top: 1rem;
      width: 100%;
      text-align: center;
    }
  }

  @media screen and (max-width: 1005px) {
    &__body {
      padding-left: 1rem;
    }
  }

  @media screen and (max-width: 660px) and (min-width: 426px) {
    &__bar {
      width: 70%;
    }

    &__user {
      display: none;
    }
  }

  &__user {
    margin-right: 0.5rem;
    padding: 0.5rem;

    .svg-inline--fa {
      margin-right: units(1);
    }
  }

  .app-title {
    color: $text-color;
    padding: 0.25rem;
  }
}
