.prime-home {
  background-color: color($theme-color-prime-gray-light);
}

.prime-container {
  width: 100%;
}

.prime-ul {
  list-style-type: none;
  padding: 0;
}

.prime-li {
  float: left;
  margin-right: 2rem;
}

.prime-right-align {
  float: right;
}

.prime-center {
  text-align: center;
}

// header

.active-nav-item {
  background-color: color($theme-color-primary-darker);
}

.prime-nav {
  justify-content: left;
  padding: 0;
}

// patient in the queue

.prime-test-result {
  border-left: 1px solid color($theme-color-prime-gray-light);
}

.prime-queue-item {
  padding: 0;
  margin-bottom: 1rem;
  position: relative;
}

.prime-container-padding {
  padding: 1rem;
}

.prime-test-name {
  border-bottom: 1px solid color($theme-color-prime-gray-light);
}

// things that look like links but aren't links

.prime-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

// close button

.prime-close-button {
  top: -1em;
  right: 0em;
  display: block;
  position: absolute;
  cursor: pointer;
}

// TestResultInputForm
.prime-test-result-submit {
  margin-left: 1em;
  margin-bottom: 1em;
}

// radio buttons

.prime-radio__container {
  padding: 0.6em;
}

.prime-radio__title {
  margin-left: 1em;
}

.prime-radio__label {
  margin-top: auto;
}

.prime-radio--success {
  background-color: color($theme-color-prime-green-lighest);
}

.prime-radio--failure {
  background-color: color($theme-color-prime-red-lightest);
}

// MODAL

// the background behind the modal
.prime-modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

// .prime-modal {
// }
