.prime-home {
  background-color: color($theme-color-prime-gray-light);
  padding-top: 1rem;
}

.prime-container {
  width: 100%;
  margin-bottom: 1.5rem;
}

.prime-ul {
  list-style-type: none;
  padding: 0;
}

.prime-li {
  float: left;
  margin-right: 2rem;
  margin-top: 1rem;
}

.prime-ul p {
  margin: 0;
}

.prime-right-align {
  float: right;
}

.prime-center {
  text-align: center;
}

// header

.active-nav-item {
  background-color: color($theme-color-primary-darker);
}

.prime-nav {
  justify-content: left;
  padding: 0;
}

// patient in the queue

.prime-test-result {
  border-left: 1px solid color($theme-color-prime-gray-light);
}

.prime-queue-item {
  padding: 0;
  // margin-bottom: 1rem;
  position: relative;
}

.prime-queue-item .usa-card__footer .usa-form label {
  margin-top: 0.5rem;
}

.prime-container-padding {
  padding: 1rem;
}

.prime-test-name {
  border-bottom: 1px solid color($theme-color-prime-gray-light);
}

// things that look like links but aren't links

.prime-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

// close button

.prime-close-button {
  top: -1em;
  right: 0em;
  display: block;
  position: absolute;
  z-index: 1000;
  cursor: pointer;
}

// other buttons

.prime-red-icon {
  color: color($theme-color-secondary);
}

// TestResultInputForm
.prime-test-result-submit {
  margin-left: 1em;
  margin-bottom: 1em;
}

//test queue search
.results-dropdown {
  position: absolute;
  height: auto;
  z-index: 1000;
  top: 31px;
}

// radio buttons

.prime-radio__container {
  padding: 0.6em;
}

.prime-radio__title {
  margin-left: 1em;
}

.prime-radio__label {
  margin-top: auto;
}

.prime-radio--success {
  background-color: color($theme-color-prime-green-lighest);
}

.prime-radio--failure {
  background-color: color($theme-color-prime-red-lightest);
}

// MODAL

// the background behind the modal
.prime-modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

// .prime-modal {
// }

/* The animation code */
@keyframes alertanimation {
  0% {
    opacity: 0;
    bottom: -30px;
  }
  10% {
    opacity: 1;
    bottom: 20px;
  }
  90% {
    opacity: 1;
    bottom: 20px;
  }
  100% {
    opacity: 0;
    bottom: -30px;
  }
}

.usa-alert--success {
  outline: 2px solid #00a91c;
  animation-name: alertanimation;
  animation-fill-mode: forwards;
  animation-duration: 5s; //time of animation is set here, and also on queuenotification.jsx
}

//navbar customizations
@media (min-width: 64em) {
  .usa-nav__primary > .usa-nav__primary-item > a {
    padding: 1.5rem;
    font-size: 1rem;
    border-right: 1px solid color($theme-color-prime-gray-light);
  }

  .usa-nav__primary > .usa-nav__primary-item:first-child > a {
    border-left: 1px solid color($theme-color-prime-gray-light);
  }

  .usa-logo {
    margin: 0 0 20px 0;
  }
  .usa-header--basic .usa-nav {
    padding: 0;
  }
}
