.prime-home {
  background-color: color($theme-color-prime-gray-light);
  padding-top: 1rem;
}

.prime-container {
  width: 100%;
  margin-bottom: 1.5rem;
}

.prime-ul {
  list-style-type: none;
  padding: 0;
}

.prime-li {
  float: left;
  margin-right: 2rem;
  margin-top: 1rem;
}

.prime-ul p {
  margin: 0;
}

.prime-right-align {
  float: right;
}

.prime-center {
  text-align: center;
}

.prime-search-input {
  margin: 0 0 0.5em 0.6em;
}

// header

.active-nav-item {
  background-color: color($theme-color-primary-darker);
}

.prime-nav {
  justify-content: left;
  padding: 0;
  transition: 0.2s ease-in-out;
}

// patient in the queue

.prime-test-result {
  border-left: 1px solid color($theme-color-prime-gray-light);
}

.prime-queue-item {
  padding: 0;
  // margin-bottom: 1rem;
  position: relative;
}

.prime-queue-item .usa-card__footer .usa-form label {
  margin-top: 0.5rem;
}

.prime-container-padding {
  padding: 1rem;
}

.prime-test-name {
  border-bottom: 1px solid color($theme-color-prime-gray-light);
}

// things that look like links but aren't links

.prime-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

// close button

.prime-close-button {
  top: -1em;
  right: 0em;
  display: block;
  position: absolute;
  z-index: 1000;
  cursor: pointer;
}

// other buttons

.prime-red-icon {
  color: color($theme-color-secondary);
}

// TestResultInputForm
.prime-test-result-submit {
  margin-left: 1em;
  margin-bottom: 1em;
}

//test queue search
.results-dropdown {
  position: absolute;
  height: auto;
  z-index: 1000;
  top: 31px;
}

// radio buttons

.prime-radio__container {
  padding: 0.6em;
}

.prime-radio__title {
  margin-left: 1em;
}

.prime-radio__label {
  margin-top: auto;
}

.prime-radio--success {
  background-color: color($theme-color-prime-green-lighest);
}

.prime-radio--failure {
  background-color: color($theme-color-prime-red-lightest);
}

.prime-radio--horizontal {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  text-align: center;
}
.prime-radio--horizontal__container {
  position: relative;
  display: list-item;
  width: 45%;
  max-width: 5rem;
  float: left;
  margin: 0;
}
.prime-radio--horizontal__container:first-child {
  margin-right: units(1);
}

// MODAL

// the background behind the modal
.prime-modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
.prime-modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin: 0 1em;
}
.prime-modal-text {
  margin: 1em;
}

.usa-alert--success {
  outline: 3px solid #00a91c;
}

//navbar customizations
@media (min-width: 64em) {
  .usa-nav__primary > .usa-nav__primary-item > a {
    padding: 1.5rem;
    font-size: 1rem;
    border-right: 1px solid color($theme-color-prime-gray-light);
  }

  .usa-nav__primary > .usa-nav__primary-item:first-child > a {
    border-left: 1px solid color($theme-color-prime-gray-light);
  }

  .usa-logo {
    margin: 0 0 20px 0;
  }
  .usa-header--basic .usa-nav {
    padding: 0;
  }
  .prime-settings-hidden {
    display: none;
  }
}
.prime-nav-close-button {
  margin: 0 0 0 auto;
}
.prime-nav-close-button img {
  width: 1rem;
}

// export

.prime-csv-import-columns {
  overflow-x: scroll;
  width: auto;
  white-space: nowrap;
}

// toast

.Toastify__toast-container {
  width: auto;
}

.Toastify__toast--default {
  color: #1b1b1b;
}

.Toastify__toast {
  padding: 3px;
}
