.prime-home {
  background-color: color($theme-color-prime-gray-light);
  padding-top: 1rem;
}

.prime-container {
  width: 100%;
  margin-bottom: 1.5rem;
  .usa-card__header {
    padding: 1.5rem;
    border-bottom: 1px solid #f4f4f4;
    display: flex;
    justify-content: space-between;
    h2 {
      margin: 0;
    }
  }
  .usa-card__header > :last-child,
  .usa-card__body > :last-child {
    &.usa-button {
      padding: 12px 20px;
      margin-right: 0;
    }
  }
  .usa-card__body {
    .usa-form-group {
      width: 90%;
      margin-left: 0;
      padding: 0;
    }
  }
}

.prime-ul {
  list-style-type: none;
  padding: 0;
}

.prime-li {
  float: left;
  margin-right: 2rem;
  margin-top: 1rem;
}

.prime-ul p {
  margin: 0;
}

.prime-right-align {
  float: right;
}

.prime-center {
  text-align: center;
}

.prime-search-input {
  margin: 0 0 0.5em 0.6em;
  min-width: 22em;
}

// header

.active-nav-item {
  background-color: color($theme-color-primary-darker);
}

.prime-nav {
  justify-content: left;
  padding: 0;
  transition: 0.2s ease-in-out;
}

// patient in the queue

.prime-test-result {
  border-left: 1px solid color($theme-color-prime-gray-light);
  padding-left: 1em;
}

.prime-queue-item {
  padding: 0;
  // margin-bottom: 1rem;
  position: relative;
}

.prime-queue-item .usa-card__footer .usa-form label {
  margin-top: 0.5rem;
}

.prime-container-padding {
  padding: 1rem;
}

.prime-test-name {
  border-bottom: 1px solid color($theme-color-prime-gray-light);
}

.prime-previous-test-display {
  font-size: 90%;
  margin-left: 0.5em;
  border-left: 4px solid #ccc;
  padding-left: 0.5em;
}

// close button

.prime-close-button {
  top: -1em;
  right: 0;
  display: block;
  position: absolute;
  z-index: 10;
  border: none;
  background: transparent;
  cursor: pointer;
}

// other buttons

.prime-red-icon {
  color: color($theme-color-secondary);
}

// TestResultInputForm
.prime-test-result-submit {
  margin-left: 1em;
  margin-bottom: 1em;
}

// General group of related items on a form
.sr-section {
  border: 1px solid #ccc;
  padding: 1em;

  > h3 {
    font-size: 2rem;
    color: $theme-color-primary;
  }
}

//test queue search
.results-dropdown {
  position: absolute;
  height: auto;
  z-index: 1000;
  top: 31px;
}

// radio buttons

.prime-radio__container {
  padding: 0.6em;
}

.prime-radio__title {
  margin-left: 1em;
}

.prime-radio__label {
  margin-top: auto;
}

.prime-radio--success {
  background-color: color($theme-color-prime-green-lighest);
}

.prime-radio--failure {
  background-color: color($theme-color-prime-red-lightest);
}

.prime-radio--horizontal {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
}
.prime-radio--horizontal__container {
  position: relative;
  display: list-item;
  max-width: 5rem;
  float: left;
  margin: 0;
}
.prime-radio--horizontal__container:first-child {
  margin-right: units(1);
}

// MODAL

// the background behind the modal
.prime-modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
.prime-modal-buttons {
  display: flex;
  justify-content: flex-end;
  margin: 0 1em;
}
.prime-modal-buttons button {
  margin-left: 1em;
}
.prime-modal-text {
  margin: 1em;
}

.usa-alert--success {
  outline: 3px solid #00a91c;
}

.prime-secondary-nav {
  margin: 0 8px;
}

.prime-nav.usa-nav__secondary-links {
  display: flex;
  position: relative;
  float: none;
  margin-bottom: 0px;

  a {
    color: #555;
    padding-bottom: 5px;
    &.active,
    &:hover {
      color: #000;
      text-decoration: none;
      border-bottom: 4px solid #0d60a0;
    }
  }
}

.prime-facility-select {
  margin: 0 0 16px 0;
  width: 100%;
}

//navbar customizations
.prime-nav-link {
  white-space: nowrap;
  height: 100%;
  display: flex !important;
  align-items: center;
}

@media (min-width: 64em) {
  .usa-nav__primary > .usa-nav__primary-item > a {
    padding: 1.5rem;
    font-size: 1rem;
    border-right: 1px solid color($theme-color-prime-gray-light);
  }

  .usa-nav__primary > .usa-nav__primary-item:first-child > a {
    border-left: 1px solid color($theme-color-prime-gray-light);
  }

  .usa-logo {
    margin: 0 0 20px 0;
  }
  .usa-header--basic .usa-nav {
    padding: 0;
  }
  .prime-settings-hidden {
    display: none;
  }
}
.prime-nav-close-button {
  margin: 0 0 0 auto;
}
.prime-nav-close-button img {
  width: 1rem;
}

.prime-username-icon-span {
  padding: 1px 8px;
}

.prime-sidenav_inset {
  padding: 0 0 13px 23px;
  color: black;
  li {
    padding: 13px 7px 7px 0;
    text-align: left;
  }
  /* Anchor in menu is rendered as a styled button. parent Nav forces it to look non-standard */
  button {
    text-decoration: underline;
    color: #069;
  }
}

.span-full-name {
  font-weight: bolder;
}

.prime-organization-name {
  margin-top: 2px;
  font-size: 0.9rem;
}

.prime-staff-infobox {
  position: absolute;
  right: 5.5em;
  width: auto !important;
  border: 1px solid #888;
  border-radius: 0.5rem;
  background-color: white; /* seems like this should be a theme */
  z-index: 10;
  visibility: hidden;
  ul {
    padding: 23px;
  }
  li {
    border-top-color: transparent;
    padding: 7px;
  }
  /* Anchor in menu is rendered as a styled button. parent Nav forces it to look non-standard */
  button {
    text-decoration: underline;
    color: #069;
  }
}

.is-prime-staff-infobox-visible {
  visibility: visible;
}

.prime-staff-infobox-sidemenu {
  padding: 13px;
  li {
    border-color: transparent;
  }
}

// override. default forcing the top nav to be too tall
.usa-logo {
  margin: 0 0 16px 0;
  font-size: 1.1rem;
}
// export

.prime-csv-import-columns {
  overflow-x: scroll;
  width: auto;
  white-space: nowrap;
}

// toast

.Toastify__toast-container {
  width: auto;
}

.Toastify__toast--default {
  color: #1b1b1b;
}

.Toastify__toast {
  padding: 3px;
}

.usa-table--borderless th:first-child {
  padding: 0.5rem 1rem;
}

.usa-select,
.usa-range,
.usa-input,
.usa-textarea,
.usa-combo-box__input {
  max-width: none;
}
