@use "../../scss/settings" as *;

.sr-actions-menu {
  color: color($theme-color-primary-dark);
  background: inherit;
  padding: 0;
  border: 0;
}

.sr-menu-item {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
