@use "../../scss/settings";

.data-retention-limits-alert {
  color: #5c4809 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}

.data-retention-limits-alert-body {
  color: #5c4809 !important;
}

.data-retention-limits-header {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
}

.data-retention-limits-link {
  color: #5c4809;
}

.usa-alert--warning .usa-alert__body::before {
  background: #5c4809 !important;
}
