.sr-data-retention-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.sr-data-retention-modal-content {
  background: white;
  border-radius: 0.25rem;
  padding: 1.5rem;
  max-width: 40rem;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);

  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: none !important;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
  }

  .sr-learn-more-icon {
    margin-left: -0.2rem;
  }
}
