.usa-nav-container.prime-header {
  //   padding: 0;

  .prime-nav-link {
    font-size: 1.2rem;
  }

  .prime-facility-select {
    padding: 0 1.1rem;
    margin: 0;

    select {
      margin: 0.3rem 0;
    }
  }

  .usa-navbar {
    margin-right: 1rem;
  }
}
