@use "../../scss/settings" as *;

.usa-pagination {
  text-align: right;
  margin-right: 1rem;

  ol {
    list-style-type: none;
    padding-left: 2rem;
  }

  li {
    display: inline;
  }

  a,
  a:visited {
    padding: 4px 10px;
    text-decoration: none;
    color: $blue-cool-50;

    &.is-active {
      background-color: $blue-cool-70;
      border-radius: 100%;
      color: white;
    }
  }

  .fa-angle-right {
    margin-left: 3px;
  }
}
