.pilot-header {
  --pilot-background-color: #162e51;

  .usa-logo {
    margin-bottom: 0 !important;
  }

  .usa-navbar {
    border-bottom: none !important;
  }

  .usa-menu-btn {
    background-color: var(--pilot-background-color);
  }

  .desktop-nav {
    .usa-nav__primary .usa-nav__primary-item > a {
      border-left: none !important;
      border-right: none !important;
    }

    a.active-nav-item {
      padding-bottom: 1.15rem !important;
      font-weight: 400 !important;
    }

    a.active-nav-item > span {
      border-bottom: 3px solid var(--pilot-background-color);
      padding-bottom: 0.25rem;
    }

    .prime-nav-link {
      color: white !important;
      font-size: 1.125rem;
    }
  }
}
