.usa-nav-container.prime-header .desktop-nav .nav__primary-item-icon:last-child {
  border-bottom: none !important;
}

.pilot-header {
  .usa-logo {
    margin-bottom: 0 !important;
  }

  .desktop-nav {
    .usa-nav__primary .usa-nav__primary-item > a {
      border-left: none !important;
      border-right: none !important;
    }

    a.active-nav-item {
      padding-bottom: 1.15rem !important;
      font-weight: 400 !important;
    }

    a.active-nav-item > span {
      border-bottom: 3px solid #00bde3;
      padding-bottom: 0.25rem;
    }

    .prime-nav-link {
      color: white !important;
    }
  }
}
