.sr-single-file-input {
  position: relative;
  display: flex;
  min-width: 33.5rem;
  width: 100%;
  max-width: 33.5rem;

  input[type="file"] {
    cursor: pointer;
    border: 0.06rem dashed #a9aeb1;
    padding: 3.5rem 1rem 2rem 7.2rem;
    z-index: 2;
    position: relative;
    display: block;
    min-width: 33.5rem;
    width: 100%;
    max-width: 33.5rem;
    margin: 0;
    font-size: 0.88rem;

    // start of styles needed to hide default input[type="file"] text
    color: rgba(0, 0, 0, 0);

    &::-webkit-file-upload-button {
      visibility: hidden;
    }

    &::after {
      visibility: hidden;
    }
    // end of styles needed to hide default input[type="file"] text
  }

  input::file-selector-button {
    border: none;
    cursor: pointer;
    background: transparent;
    text-decoration: underline;
    color: #005ea2;
    font-weight: normal;
  }

  #file-input-specific-hint {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    font-size: 0.88rem;
    text-align: center;
    padding: 2rem 1rem 2rem 1rem;
  }

  .close-button {
    color: #005ea2;
    cursor: pointer;
    width: 2rem;
    margin: 0 0.5rem;
    height: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    right: 4rem;
    z-index: 2;
  }

  img {
    max-width: 2rem;
  }

  .selected,
  &:hover {
    background-color: #d9e8f6;

    input[type="file"] {
      font-weight: bold;
      padding-left: 4.4rem;

      &::after {
        content: "\2611";
        margin-left: 0.25rem;
      }
    }
  }

  //.sr-single-file-input.selected,  {
  //  background-color: #d9e8f6;
  //
  //  input[type="file"] {
  //    font-weight: bold;
  //    padding-left: 4.4rem;
  //
  //    &::after {
  //      content: "\2611";
  //      margin-left: 0.25rem;
  //    }
  //  }
}

.sr-single-file-input.invalid {
  //background-color: transparent;
  background-color: #f4e3db;

  span {
    font-weight: bold;
    //color: #b50909;
  }

  input[type="file"] {
    padding-left: 9.1rem;

    &::after {
      content: "\2612";
      margin-left: 0.25rem;
      color: #b50909;
    }
  }
}

@media screen and (max-width: 457px) {
  .sr-single-file-input input[type="file"],
  .sr-single-file-input.invalid input[type="file"],
  .sr-single-file-input.selected input[type="file"] {
    padding-left: 2rem;
  }
}
