.usa-text-with-tooltip {
  .usa-tooltip__body {
    margin-left: -240px !important;
    margin-top: -60px !important;
  }

  .info-circle-icon {
    margin-left: 5px;
  }

  svg {
    display: inline-block !important;
    overflow: visible !important;
    vertical-align: -0.125em !important;
  }
}
