@use "../../scss/settings" as *;

@media print {
  .usa-banner {
    display: none;
  }
}

.usa-banner {
  .usa-banner__inner {
    max-width: $site-max-width;
  }

  .usa-banner__header-text {
    color: white;
  }

  .usa-accordion__button {
    color: $gray-20;
    background-color: $gray-90;

    &:hover {
      color: white;
      background-color: $gray-90;
    }
  }

  .usa-banner__content {
    color: white;
  }

  &.site-banner {
    background-color: $gray-90;
  }
}
