@use "../../scss/settings" as *;

@media print {
  .usa-banner {
    display: none;
  }
}

.usa-banner {
  .usa-banner__inner {
    max-width: $site-max-width;
  }

  .usa-banner__header-text {
    color: white;
  }

  .usa-banner__header-action {
    color: $gray-20;
  }

  .usa-accordion__button {
    .usa-banner__button-text {
      color: $gray-20;

      &:hover {
        color: white;
      }
    }
  }

  .usa-banner__content {
    color: white;
  }

  &.site-banner {
    background-color: $gray-90;
  }
}
