@use "../../scss/settings";

@media print {
  .usa-banner.legacy-usa-banner {
    display: none;
  }
}

.usa-banner.legacy-usa-banner {
  .usa-banner__inner {
    max-width: settings.$site-max-width;
  }
}
