#patient-name-header {
  padding: 1em;
  padding-left: 1.5em;
}

.testdate-checkbox {
  top: 1.5rem;
  position: relative;
}

.test-information-ul .usa-legend,
.test-information-ul .usa-label {
  display: inline;
  line-height: 1.6;
}

.prime-ul,
.test-information-ul {
  margin: 0;
}
