.timer-button {
  border: none;
  border-radius: 3px;
  min-width: 4.5em;
  text-align: right;
  cursor: pointer;
}

.timer-reset {
  color: white;
  background-color: #005ea2;
}

.timer-running {
  color: white;
  background-color: #162e51;
}

.timer-ready {
  color: green;
  background-color: white;
}

.timer-overtime {
  color: gray;
  font-style: italic;
}
