.timer-button {
  border: none;
  border-radius: 3px;
  min-width: 80px;
  cursor: pointer;
  padding: 0.25rem;
  padding-bottom: 0.25rem !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.timer-reset {
  color: white;
  background-color: #005ea2;
}

.timer-running {
  color: white;
  background-color: #162e51;
}

.timer-ready {
  color: green;
  background-color: white;
}

.timer-overtime {
  color: gray;
  font-style: italic;
}
