.sr-showing-patients-on-page {
  margin-left: 2rem;
  color: #555;
  font-size: 50%;
  vertical-align: middle;
  font-weight: normal;
}

.sr-patient-list {
  .sr-patient-row th,
  .sr-patient-row td {
    /* override USWDS force-white */
    background: inherit;
  }

  .sr-patient-row:hover {
    background: #f4f4f4;
  }

  .sr-patient-row--removed {
    text-decoration: line-through;
  }

  .sr-patient-edit-link {
    text-decoration: none;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }

  .rc-menu-button {
    background: inherit;
    padding: 0;
    border: 0;
  }
}
