.usa-file-input,
.usa-file-input__target {
  display: flex !important;
  flex-direction: column;
}

.usa-file-input__preview {
  flex: auto;
}

.thick-bottom-border {
  border-bottom-width: 4px !important;
  width: 300px;
}

.maxw-710 {
  max-width: 710px;
}
