spring:
  profiles:
    include: server-debug, create-sample-devices
server:
  servlet:
    session:
      cookie:
        domain: localhost.simplereport.gov
okta:
  client:
    org-url: http://localhost:8088
    token: foo
  oauth2:
    client-id: 0oa1k0163nAwfVxNW1d7
    issuer: https://hhs-prime.oktapreview.com/oauth2/default
# sample devices
simple-report-initialization:
  configured-device-types:
    - LumiraDX
    - Quidel Sofia 2
  specimen-types:
    - name: Swab of internal nose
      type-code: "445297001"
      collection-location-name: Internal nose structure
    - name: Nasopharyngeal swab
      type-code: "258500001"
      collection-location-name: Nasopharyngeal structure
      collection-location-code: "71836000"
  device-types:
    - name: Abbott IDNow
      manufacturer: Abbott
      model: ID Now
      loinc-code: "94534-5"
      swab-type: "445297001"
    - name: Abbott BinaxNow
      manufacturer: Abbott
      model: BinaxNOW COVID-19 Ag Card
      loinc-code: "94558-4"
      swab-type: "445297001"
    - name: Quidel Sofia 2
      manufacturer: Quidel
      model: Sofia 2 SARS Antigen FIA
      loinc-code: "95209-3"
      swab-type: "445297001"
    - name: BD Veritor
      manufacturer: Becton, Dickinson and Company (BD)
      model: "BD Veritor System for Rapid Detection of SARS-CoV-2*"
      loinc-code: "94558-4"
      swab-type: "445297001"
    - name: LumiraDX
      manufacturer: LumiraDx UK Ltd.
      model: LumiraDx SARS-CoV-2 Ag Test*
      loinc-code: "95209-3"
      swab-type: "445297001"
    - name: Access Bio CareStart
      manufacturer: Access Bio, Inc.
      model: CareStart COVID-19 Antigen test*
      loinc-code: "94558-4"
      swab-type: "258500001"
