spring:
  profiles.include: okta-dev, server-debug
simple-report:
  data-hub:
    upload-enabled: true
    upload-url: "https://staging.prime.cdc.gov/api/reports?option=SkipInvalidItems" # same destination as test
    upload-schedule: "0 30 * * * *" # hourly on the :30 to differentiate from test, which sends on the :00
  azure-reporting-queue:
    enabled: true
    name: test-event-publishing
  patient-link-url: https://dev.simplereport.gov/app/pxp?plid=
  twilio-callback-url: https://dev.simplereport.gov/api/pxp/callback
  sendgrid:
    enabled: false
  cors:
    allowed-origins:
      - https://simplereportdevapp.z13.web.core.windows.net
      - https://simple-report-api-dev.azurewebsites.net
      - https://simple-report-dev.azureedge.net
      - https://dev.simplereport.gov
twilio:
  enabled: true
