logging:
  level:
    # NOTE: look in application-dev.yaml for other things that might be worth turning on
    gov.cdc.usds: DEBUG
okta:
  oauth2:
    client-id: 0oa1k0163nAwfVxNW1d7
    issuer: https://hhs-prime.oktapreview.com/oauth2/default
  client:
    org-url: https://hhs-prime.oktapreview.com
# sample devices
simple-report-initialization:
  configured-device-types:
    - LumiraDX
    - Quidel Sofia 2
  specimen-types:
    - name: Swab of internal nose
      type-code: "445297001"
      collection-location-name: Internal nose structure
      collection-location-code: "53342003"
    - name: Nasopharyngeal swab
      type-code: "258500001"
      collection-location-name: Nasopharyngeal structure
      collection-location-code: "71836000"
  device-types:
    - name: Abbott Alinity M
      manufacturer: Abbott
      model: Alinity m
      specimen-types:
        - "445297001"
      test-performed-loincs:
        - test-performed-loinc-code: "85477-8"
          supported-disease: "Flu A"
          equipment-uid: "00884999048034"
          testkit-name-id: "Alinity m Resp-4-Plex_Abbott Molecular Inc."
          test-ordered-loinc-code: "95941-1"
        - test-performed-loinc-code: "94500-6"
          supported-disease: "COVID-19"
          equipment-uid: "00884999048034"
          testkit-name-id: "Alinity m Resp-4-Plex_Abbott Molecular Inc."
          test-ordered-loinc-code: "95941-1"
        - test-performed-loinc-code: "85478-6"
          supported-disease: "Flu B"
          equipment-uid: "00884999048034"
          testkit-name-id: "Alinity m Resp-4-Plex_Abbott Molecular Inc."
          test-ordered-loinc-code: "95941-1"
    - name: Abbott IDNow
      manufacturer: Abbott
      model: ID Now
      specimen-types:
        - "445297001"
      test-performed-loincs:
        - test-performed-loinc-code: "94534-5"
          supported-disease: "COVID-19"
          equipment-uid: 00811877010616
          testkit-name-id: 10811877011269
          test-ordered-loinc-code: "94534-5"
    - name: Abbott BinaxNow
      manufacturer: Abbott
      model: BinaxNOW COVID-19 Ag Card
      specimen-types:
        - "445297001"
      test-performed-loincs:
        - test-performed-loinc-code: "94558-4"
          supported-disease: "COVID-19"
          equipment-uid: "No Equipment"
          testkit-name-id: 10811877011290
          test-ordered-loinc-code: "94558-4"
    - name: Quidel Sofia 2
      manufacturer: Quidel
      model: Sofia 2 SARS Antigen FIA
      specimen-types:
        - "445297001"
      test-performed-loincs:
        - test-performed-loinc-code: "95209-3"
          supported-disease: "COVID-19"
          equipment-uid: "Sofia Instrument_Quidel"
          testkit-name-id: "Sofia SARS Antigen FIA_Quidel Corporation"
          test-ordered-loinc-code: "95209-3"
    - name: BD Veritor
      manufacturer: Becton, Dickinson and Company (BD)
      model: "BD Veritor System for Rapid Detection of SARS-CoV-2*"
      specimen-types:
        - "445297001"
      test-performed-loincs:
        - test-performed-loinc-code: "94558-4"
          supported-disease: "COVID-19"
          equipment-uid: "BD Veritor Plus System_Becton Dickinson"
          testkit-name-id: "BD Veritor System for Rapid Detection of SARS-CoV-2_Becton, Dickinson and Company (BD)"
          test-ordered-loinc-code: "94558-4"
    - name: LumiraDX
      manufacturer: LumiraDx UK Ltd.
      model: LumiraDx SARS-CoV-2 Ag Test*
      specimen-types:
        - "445297001"
      test-performed-loincs:
        - test-performed-loinc-code: "95209-3"
          supported-disease: "COVID-19"
          equipment-uid: "LumiraDx Platform_LumiraDx"
          testkit-name-id: "LumiraDx SARS-CoV-2 Ag Test_LumiraDx UK Ltd."
          test-ordered-loinc-code: "95209-3"
    - name: Access Bio CareStart
      manufacturer: Access Bio, Inc.
      model: CareStart COVID-19 Antigen test*
      specimen-types:
        - "258500001"
      test-performed-loincs:
        - test-performed-loinc-code: "94558-4"
          supported-disease: "COVID-19"
          equipment-uid: "No Equipment"
          testkit-name-id: "CareStart COVID-19 Antigen test_Access Bio, Inc."
          test-ordered-loinc-code: "94558-4"