spring:
  profiles.include: okta-dev, server-debug
simple-report:
  azure-reporting-queue:
    enabled: true
    name: test-event-publishing
  patient-link-url: https://dev.simplereport.gov/app/pxp?plid=
  twilio-callback-url: https://dev.simplereport.gov/api/pxp/callback
  sendgrid:
    enabled: false
  cors:
    allowed-origins:
      - https://simplereportdevapp.z13.web.core.windows.net
      - https://simple-report-api-dev.azurewebsites.net
      - https://simple-report-dev.azureedge.net
      - https://dev.simplereport.gov
twilio:
  enabled: true
