# configuration for dev and demo server startup
simple-report-initialization:
  organizations:
    - org-name: Dis Organization
      org-type: university
      external-id: DIS_ORG
      identity-verified: true
    - org-name: Dat Organization
      org-type: urgent_care
      external-id: DAT_ORG
      identity-verified: true
    - org-name: Unverified Org
      org-type: urgent_care
      external-id: UNV_ORG
      identity-verified: false
  facilities:
    # TODO: uncomment once e2e tests can accommodate 2+ facilities
    # - facility-name: Injection Site
    #   clia-number: "000111222-3"
    #   address:
    #     street-1: 2797 N Cerrada de Beto
    #   organization-external-id: DIS_ORG
    - name: Testing Sites
      clia-number: "12D1234568"
      address:
        street-1: 1001 Rodeo Dr
        city: Los Angeles
        state: CA
        postal-code: 90000
      telephone: 8002324636
      email: testingsite@disorg.com
      organization-external-id: DIS_ORG
    - name: Uptown Clinic
      clia-number: "123456789-0"
      address:
        street-1: 1400 Lexington Ave
        city: New York
        state: NY
        postal-code: 10128
      telephone: 8002324636
      organization-external-id: DAT_ORG
    - name: Downtown Clinic
      clia-number: "987654321-0"
      address:
        street-1: 5 Bleecker St
        city: New York
        state: NY
        postal-code: 10010
      telephone: 8002324636
      email: downtownclinic@dat.org
      organization-external-id: DAT_ORG
  provider:
    first-name: Fred
    last-name: Flintstone
    provider-id: 1234567890
    telephone: (202) 555-1212
    address:
      street-1: 123 Main Street
      city: Oz
      state: KS
      postal-code: "12345"
  configured-device-types:
    - LumiraDX
    - Quidel Sofia 2
    - Abbott Alinity M
  specimen-types:
    - name: Swab of internal nose
      type-code: "445297001"
      collection-location-name: Internal nose structure
    - name: Nasopharyngeal swab
      type-code: "258500001"
      collection-location-name: Nasopharyngeal structure
      collection-location-code: "71836000"
    - name: Venous blood specimen
      type-code: "122555007"
      collection-location-name: Blood specimen (specimen)
      collection-location-code: "119297000"
    - name: Oral fluid specimen
      type-code: "441620008"
      collection-location-name: Mouth region structure (body structure)
      collection-location-code: "123851003"
  device-types:
    - name: Abbott Alinity M
      manufacturer: Abbott
      model: Alinity m
      specimen-types:
        - "445297001"
      test-performed-loincs:
        - test-performed-loinc-code: "85477-8"
          supported-disease: "Flu A"
          equipment-uid: "00884999048034"
          testkit-name-id: "Alinity m Resp-4-Plex_Abbott Molecular Inc."
          test-ordered-loinc-code: "95941-1"
        - test-performed-loinc-code: "94500-6"
          supported-disease: "COVID-19"
          equipment-uid: "00884999048034"
          testkit-name-id: "Alinity m Resp-4-Plex_Abbott Molecular Inc."
          test-ordered-loinc-code: "95941-1"
        - test-performed-loinc-code: "85478-6"
          supported-disease: "Flu B"
          equipment-uid: "00884999048034"
          testkit-name-id: "Alinity m Resp-4-Plex_Abbott Molecular Inc."
          test-ordered-loinc-code: "95941-1"
    - name: Abbott IDNow
      manufacturer: Abbott
      model: ID Now
      specimen-types:
        - "445297001"
      test-performed-loincs:
        - test-performed-loinc-code: "94534-5"
          supported-disease: "COVID-19"
          equipment-uid: 00811877010616
          testkit-name-id: 10811877011269
          test-ordered-loinc-code: "94534-5"
    - name: Abbott BinaxNow
      manufacturer: Abbott
      model: BinaxNOW COVID-19 Ag Card
      specimen-types:
        - "445297001"
      test-performed-loincs:
        - test-performed-loinc-code: "94558-4"
          supported-disease: "COVID-19"
          equipment-uid: "No Equipment"
          testkit-name-id: 10811877011290
          test-ordered-loinc-code: "94558-4"
    - name: Quidel Sofia 2
      manufacturer: Quidel
      model: Sofia 2 SARS Antigen FIA
      specimen-types:
        - "445297001"
      test-performed-loincs:
        - test-performed-loinc-code: "95209-3"
          supported-disease: "COVID-19"
          equipment-uid: "Sofia Instrument_Quidel"
          testkit-name-id: "Sofia SARS Antigen FIA_Quidel Corporation"
          test-ordered-loinc-code: "95209-3"
    - name: BD Veritor
      manufacturer: Becton, Dickinson and Company (BD)
      model: "BD Veritor System for Rapid Detection of SARS-CoV-2*"
      specimen-types:
        - "445297001"
      test-performed-loincs:
        - test-performed-loinc-code: "94558-4"
          supported-disease: "COVID-19"
          equipment-uid: "BD Veritor Plus System_Becton Dickinson"
          testkit-name-id: "BD Veritor System for Rapid Detection of SARS-CoV-2_Becton, Dickinson and Company (BD)"
          test-ordered-loinc-code: "94558-4"
    - name: LumiraDX
      manufacturer: LumiraDx UK Ltd.
      model: LumiraDx SARS-CoV-2 Ag Test*
      specimen-types:
        - "445297001"
      test-performed-loincs:
        - test-performed-loinc-code: "95209-3"
          supported-disease: "COVID-19"
          equipment-uid: "LumiraDx Platform_LumiraDx"
          testkit-name-id: "LumiraDx SARS-CoV-2 Ag Test_LumiraDx UK Ltd."
          test-ordered-loinc-code: "95209-3"
    - name: Access Bio CareStart
      manufacturer: Access Bio, Inc.
      model: CareStart COVID-19 Antigen test*
      specimen-types:
        - "258500001"
      test-performed-loincs:
        - test-performed-loinc-code: "94558-4"
          supported-disease: "COVID-19"
          equipment-uid: "No Equipment"
          testkit-name-id: "CareStart COVID-19 Antigen test_Access Bio, Inc."
          test-ordered-loinc-code: "94558-4"
    - name: INSTI HIV-1/HIV-2 Antibody Test
      manufacturer: bioLytical Laboratories
      model: INSTI HIV-1/HIV-2 Antibody Test
      specimen-types:
        - "122555007"
      test-performed-loincs:
        - test-performed-loinc-code: "80387-4"
          supported-disease: "HIV"
          testkit-name-id: "bioLytical Laboratories_INSTI HIV-1/HIV-2 Antibody Test"
    - name: "OraQuick In-Home HIV Test"
      manufacturer: "OraQuick"
      model: "In-Home HIV Test"
      specimen-types:
        - "441620008"
      test-performed-loincs:
        - test-performed-loinc-code: "49580-4"
          supported-disease: "HIV"
  patient-registration-links:
    - link: dis-org
      organization-external-id: DIS_ORG
    - link: t37ft
      facility-name: Testing Site
    - link: dat-org
      organization-external-id: DAT_ORG
    - link: upt0wn
      facility-name: Uptown Clinic
    - link: downTwn
      facility-name: Downtown Clinic
  patients:
    - first-name: "Mary"
      last-name: "Meade"
      birth-date: "01/01/1980"
      organization-external-id: DIS_ORG
    - first-name: "Edward"
      last-name: "Eaves"
      birth-date: "01/01/1980"
      organization-external-id: DIS_ORG
simple-report:
  demo-users:
    site-admin-emails:
      - ruby@example.com
    default-user:
      identity:
        username: bob@example.com
        first-name: Bob
        last-name: Bobberoo
      authorization:
        organization-external-id: ${SR_DEMO_USER_ORG:DIS_ORG}
        granted-roles: ${SR_DEMO_USER_ROLE:ADMIN}
    alternate-users:
      - identity:
          username: ruby@example.com
          first-name: Ruby
          middle-name: Raven
          last-name: Reynolds
        authorization:
          organization-external-id: DIS_ORG
          facilities:
            - Testing Site
            # TODO: uncomment once e2e tests can accommodate 2+ facilities
            # - Injection Site
          granted-roles: USER
      - identity:
          username: ben@example.com
          first-name: Ben
          middle-name: Billy
          last-name: Barnes
          suffix: III
        authorization:
          organization-external-id: DIS_ORG
          facilities:
            - Testing Site
          granted-roles: ENTRY_ONLY
      - identity:
          username: jamar@example.com
          first-name: Jamar
          middle-name: Donald
          last-name: Jackson
        authorization:
          organization-external-id: DIS_ORG
          granted-roles: ENTRY_ONLY, ALL_FACILITIES
      - identity:
          username: sarah@example.com
          first-name: Sarah
          middle-name: Sally
          last-name: Samuels
        authorization:
          organization-external-id: DIS_ORG
          granted-roles: ADMIN
      - identity:
          username: megan@example.com
          first-name: Megan
          middle-name: Matilda
          last-name: Mathison
        authorization:
          organization-external-id: DAT_ORG
          granted-roles: ADMIN
