spring:
  profiles.include: no-security, no-okta-mgmt, server-debug, create-sample-data, local, no-okta-auth
  liquibase:
    simplereport:
      user: simple_report_migrations
      password: migrations456
    metabase:
      user: simple_report_migrations
      password: migrations456
      default-schema: public
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: false # override this in application-local.yaml to get pretty-printed SQL all the time
        default_schema: simple_report
logging:
  level:
    # NOTE: add any of the below in application-local.yaml to turn on something interesting
    # Hibernate SQL query logging: basically the same as show_sql, above, but through slf4j
    # org.hibernate.SQL: DEBUG
    # Hibernate input and output value logging: SUPER VERBOSE
    # org.hibernate.type: TRACE
    # Always have our own debug logging turned on in dev environments:
    gov.cdc.usds: DEBUG
twilio:
  enabled: false
datahub:
  url: "https://staging.prime.cdc.gov/"
