spring:
  profiles.include: okta-test, server-debug
simple-report:
  data-hub:
    upload-enabled: true
    upload-url: "https://staging.prime.cdc.gov/api/reports?option=SkipInvalidItems"
    upload-schedule: "0 0 5-21/2 * * *"
  patient-link-url: https://test.simplereport.gov/app/pxp?plid=
  sendgrid:
    enabled: false
  cors:
    allowed-origins:
      - https://simple-report-api-test.azurewebsites.net
      - https://simple-report-test.azureedge.net
      - https://test.simplereport.gov
  dynamics:
    enabled: true
twilio:
  enabled: true
