spring:
  profiles.include: okta-prod
simple-report:
  data-hub:
    upload-enabled: true
    upload-url: "https://prime-data-hub-prod.azurefd.net/api/reports?option=SkipInvalidItems"
    upload-schedule: "0 0 5-21/2 * * *"
  patient-link-url: https://simplereport.gov/app/pxp?plid=
  sendgrid:
    enabled: true
  cors:
    allowed-origins:
      - https://simple-report-api-prod.azurewebsites.net
      - https://simple-report-prod.azureedge.net
      - https://www.simplereport.gov
      - https://simplereport.gov
  dynamics:
    enabled: true
twilio:
  enabled: true
  from-number: "+14045312484"
