simple-report:
  azure-reporting-queue:
    enabled: true
    fhir-queue-enabled: true
    hl7-queue-enabled: true
    exception-webhook-enabled: true
  patient-link-url: https://www.simplereport.gov/app/pxp?plid=
  twilio-callback-url: https://www.simplereport.gov/api/pxp/callback
  id-verification-reminders:
    enabled: true
  sendgrid:
    enabled: true
  cors:
    allowed-origins:
      - https://simple-report-api-prod.azurewebsites.net
      - https://simple-report-prod.azureedge.net
      - https://www.simplereport.gov
      - https://simplereport.gov
  experian:
    enabled: true
  support-escalation:
    enabled: true
  production:
    device-sync-enabled: false
  aims-processing-mode-code: P
  hl7:
    sending-application-namespace: "SIMPLEREPORT.PROD"
    sending-application-oid: "2.16.840.1.113883.3.8589.4.2.134.1"
twilio:
  enabled: true
  from-number: "+14045312484"
features:
  oktaMigrationEnabled: false
  chlamydiaEnabled: false
  gonorrheaEnabled: false
  hepatitisCEnabled: false
  syphilisEnabled: false
  hivEnabled: false
  universalReportingEnabled: false
  aimsReportingEnabled: true
