Greetings from SimpleReport,<br>
<br>
A new organization with the email [[${adminEmail}]] signed up in SimpleReport but failed Experian's identity verification process. We've sent them information to schedule an identity verification video call with HHS support, and they'll appear on the list of unverified organizations.<br>
<br>
After you've verified their identity you can activate the organization by going to <a href="https://simplereport.gov/app/admin/pending-organizations">https://simplereport.gov/app/admin/pending-organizations</a>, searching for their <b>External ID ([[${orgExternalId}]])</b>, then marking their identify as verified.