A new SimpleReport account request has been submitted with the details below. This organization was created in SimpleReport and the admin now needs their identity verified. After identity verification the organization can be enabled by going to https://simplereport.gov/app/admin/pending-organizations and marking the org with the matching external ID.

<h1>Organization</h1>

<b>External ID: </b>[[${orgExternalId}]]<br>

<h1>Facility administrator</h1>

<b>Email address: </b>[[${adminEmail}]]<br>
