Thank you so much for requesting an account to SimpleReport: our free application for COVID-19
test result reporting! We have a few different links to share to keep things moving.<br>
<br>
<b>STEP 1: Administrator Identity Verification</b><br>
The administrator for your site will need to go through an identity verification session with HHS.
<b>You should expect to receive an email</b> to schedule your session with the subject:
"<b>Action Required: Final Step - Identity Proofing for SimpleReport</b>". In some cases, this email
may go to your spam folder, so if you do not see it, please check there as well.
<b>We recommend using your Driver's License and work ID as your two forms of identification for your ID session</b>.
After your account has been created you will be able to create accounts for additional users within your
SimpleReport account.<br>
<br>
<b>STEP 2: SimpleReport Training</b><br>
Training lasts about 30 minutes and is
<a href="https://www.youtube.com/playlist?list=PL3U3nqqPGhab0sys3ombZmwOplRYlBOBF">available as an online training</a>
or as a live session. If you'd like to schedule a live video session, please reach out to us at
<a href="mailto:support@simplereport.gov">support@simplereport.gov</a>. You can also practice on your own at
<a href="http://training.simplereport.gov/">training.simplereport.gov</a>. This training site is designed to allow
you to practice to get comfortable using SimpleReport before you start logging in through your actual account and
using real data.<br>
<br>
<b>SimpleReport Introduction Video, Onboarding Guide, and Other Resources</b><br>
As a resource, we've included a link to our
<a href="https://youtu.be/3YsfDprX2aw">SimpleReport Introduction and Onboarding video</a> on our YouTube channel.
If you would be interested in connecting with our team "in-person", please let us know at
<a href="mailto:support@simplereport.gov">support@simplereport.gov</a>. Currently we hold office hours on
Wednesdays at 4:00 pm EST.  If you have trouble accessing any of the listed forms, please let us know. You can
find links to all of our resource guides and videos at
<a href="https://simplereport.gov/resources">simplereport.gov/resources</a>. You can also find our SimpleReport
User guide on our resource page.<br>
<br>
<b>Terms of Service</b><br>
Our terms of service are located on our website, but we have provided a
<a href="https://simplereport.gov/terms-of-service/">direct link</a> for easy reference!<br>
<br>
We're so excited to share SimpleReport with you. Please reach out if you have any questions!
