A new SimpleReport account request has been submitted with the details below. This organization was created in SimpleReport and the admin now needs their identity verified. After identity verification the organization can be enabled by going to https://simplereport.gov/app/admin/pending-organizations and marking the org with the matching external ID.

<h1>Facility administrator</h1>

<b>First Name: </b>[[${firstName}]]<br>
<b>Last Name: </b>[[${lastName}]]<br>
<b>Email address: </b>[[${email}]]<br>
<b>Work Phone Number: </b>[[${workPhoneNumber}]]<br>
<b>Cell Phone Number: </b>[[${cellPhoneNumber}]]

<b>Organization name: </b>[[${organizationName}]]<br>
<b>Organization type: </b>[[${organizationType}]]<br>
<b>State: </b>[[${state}]]<br>
