name: Maintenance Mode

on:
  workflow_dispatch:
    inputs:
      active:
        description: "Active outage? (true/false)"
        required: true
        default: "true"
      header:
        description: "Header to display"
        required: true
        default: "SimpleReport alert:"
      message:
        description: "Message to display"
        required: true
        default: "We are working on getting this fixed as soon as possible."
      env:
        description: "Environment target"
        required: true
        default: "prod"

env:
  NODE_VERSION: 24

jobs:
  pushMaintenanceBlob:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{env.NODE_VERSION}}
      - uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Maintenance banner deploy
        uses: ./.github/actions/maintenance-banner-deploy
        with:
          active: ${{ github.event.inputs.active }}
          header: ${{ github.event.inputs.header }}
          message: ${{ github.event.inputs.message }}
          env: ${{ github.event.inputs.env }}
      - name: Notify support team
        uses: ./.github/actions/banner-status-notification
        if: ${{ success() }}
        with:
          status-active: ${{ github.event.inputs.active == 'true' }}
          env: ${{ github.event.inputs.env }}
          email-sender: ${{ secrets.NOTIFICATION_EMAIL_SENDER }}
          apikey-prod: ${{ secrets.NOTIFICATION_EMAIL_APIKEY_PROD }}
          apikey-test: ${{ secrets.NOTIFICATION_EMAIL_APIKEY_TEST }}
          email-recipient-prod: ${{ secrets.NOTIFICATION_EMAIL_RECIPIENT_PROD }}
          email-recipient-test: ${{ secrets.NOTIFICATION_EMAIL_RECIPIENT_TEST }}
          banner-header: ${{ github.event.inputs.header }}
          banner-msg: ${{ github.event.inputs.message }}