name: Smoke Test Back-end API

# Run this on pushes to any branch that change a backend file or the workflow definition
on:
  workflow_dispatch: # because sometimes you just want to force a branch to have tests run
  push:
    branches: "**"
    paths:
      - "backend/**"
      - .github/workflows/smoketestBackend.yml

defaults:
  run:
    working-directory: backend

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      test-db:
        image: postgres:12-alpine
        env:
          POSTGRES_PASSWORD: this_is_a_super_secure_admin_password
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Cache Java Dependencies
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: gradle-${{ hashFiles('*.gradle', 'gradle/dependency-locks/*') }}
    - name: Set up postgresql sidecar
      env:
        PGHOST: localhost
        PGPASSFILE: db-setup/.pgpass_ci
        POSTGRES_USER: postgres
        POSTGRES_DB: postgres
        LIB_DIR: db-setup
      run: |
        chmod 0600 $PGPASSFILE
        db-setup/create-db.sh
    - name: Run Java Tests
      run: ./gradlew test
  build-jar:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Cache Java Dependencies
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: gradle-${{ hashFiles('*.gradle', 'gradle/dependency-locks/*') }}
    - name: Run Java Build
      run: ./gradlew assemble
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Cache Java Dependencies
      uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: gradle-${{ hashFiles('*.gradle', 'gradle/dependency-locks/*') }}
    - name: Run Checkstyle
      run: ./gradlew checkstyleMain checkstyleTest
