name: Ad-hoc Terraform Plan

on:
  workflow_dispatch:
    inputs:
      env:
        description: "Environment target"
        required: true
        default: "prod" 

jobs:
  terraform-plan:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend
    env: # all Azure interaction is through Terraform
      ARM_CLIENT_ID: ${{ secrets.TERRAFORM_ARM_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.TERRAFORM_ARM_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.TERRAFORM_ARM_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.TERRAFORM_ARM_TENANT_ID }}
      OKTA_API_TOKEN: ${{ secrets.OKTA_API_TOKEN_NONPROD }}    
    steps:
      - uses: actions/checkout@v2
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Use prod Okta token if required
        if: ${{ github.event.inputs.env == 'prod' || github.event.inputs.env == 'stg' }}
        env: 
          OKTA_API_TOKEN: ${{ secrets.OKTA_API_TOKEN_PROD }} 
      - uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 0.15.1
      - name: Terraform plan
        run: make plan-${{ github.event.inputs.env }}        